body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
    background-color: #333;
   
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: gold;
    box-shadow: black;
    border-radius: 10px;
  }

header {
    background-color: gold;
    color: black; /*gm rxt*/
    padding: 20px;
    text-align: center;
}
header h1{
	font-family: Tahoma;
	text-align: center;
	font-size: 40pt;
	margin: 0;
}

h2{
    font-family: helvetica;
    font-size: 17pt;
    color: gold;

}
h4{
    font-family: helvetica;
    color: gold;

}
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gold;
}


a {
    color: white; 
    text-decoration: none; /* Remove underline from links */
}
a:hover {
    color: #333; 
}


nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /*hapus klo undo*/
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover {
    color: black;
}

.buttons {
    margin: 0 auto; /*hapus null if undo*/
    width: 300px;
    display: flex;
    flex-direction: column;
}


.button {
    font-size: large;
    color: #fff;
    background-color: gold;
    border: none;
    border-radius: 5px;
    padding: 10% 20px; /*tadi pading nya 7 20*/
    cursor: pointer;
	margin: 10px;
    text-align: center; /*dell if undo*/
}
.button:hover {
      background-color: orange;
      color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
}

.bot-buttons-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.bot-button {
    font-size: 16px;
    color: #fff;
    background-color: gold;
    border: none;
    border-radius: 5%;
    padding: 15px 20px;
    cursor: pointer;
    margin: 0 10px;
    width: 90px; 
    height: 40px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: background-color 0.3s ease;
}
.bot-button:hover {
    background-color: orange;
}

.picture-row {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    flex-wrap: wrap; 
}
.picture-row img {
    margin: 10px; /* add null if undo */
    max-width: 100px; /* set to 200 if undo */
    height: auto;
}

/* Media Queries for responsive design */
@media (max-width: 1080px) {
    .container {
        width: 90%;
        margin: 10px auto;
    }

    .buttons {
        width: 100%;
    }

    .bot-buttons-row {
        flex-direction: column;
        align-items: center;
    }

    .bot-button {
        width: 80%;
        margin: 10px 0;
    }

    .picture-row {
        flex-direction: row; 
        align-items: center;
    }
    .picture-row img {
        max-width: 30%; 
        margin: 10px 0; 
    }
}
